body{
    background-color: wheat;

}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5rem;
    padding-bottom: .4rem;
    margin-top: .4rem;
}

.btn-container{
    font-size: 2rem;
    margin: .2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    
}

.btn-container:hover{
    box-sizing: 5rem;
    box-shadow: black;
}